{:blocks (
{:block/content "{{embed ((6663a025-f150-472c-b07d-5470ab78cfdb))}}"
:block/format :markdown
:block/left 
{:block/uuid #uuid "666f34d8-01bf-44e3-8282-1288f3399da1"}
:block/parent 
{:block/uuid #uuid "666f34d8-01bf-44e3-8282-1288f3399da1"}
:block/uuid #uuid "666f351a-4e33-4b7f-9021-ce1f71bceb0d"} 
{:block/created-at 1718564587344
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "6663a025-f150-472c-b07d-5470ab78cfdb"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [400 547.7273683804665]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "8b9ab4a0-2c12-11ef-abbb-15d0dc3a0aba"
:noFill false
:point [-992 32]
:parentId "666f34d8-01bf-44e3-8282-1288f3399da1"
:collapsedHeight 0
:nonce 1718564363694}}
:block/updated-at 1718564587344})
:pages (
{:block/uuid #uuid "666f34d8-01bf-44e3-8282-1288f3399da1"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "666f34d8-01bf-44e3-8282-1288f3399da1"
:name "airdrop distribution"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("8b9ab4a0-2c12-11ef-abbb-15d0dc3a0aba")}}
:block/updated-at 1718564587344
:block/created-at 1718564056216
:block/type "whiteboard"
:block/name "airdrop distribution"
:block/original-name "airdrop distribution"})}