@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600;700&family=Inter&display=swap');
root {
  --oz-text-size: 16px;
  --oz-line-height: 1.6;
  --ls-font-family: "Fira Sans", "Inter", sans-serif;
  --oz-page-title-font-family: var(--ls-font-family);
  --oz-code-font-family: "Fira Sans", monospace;
}

@font-face {
	font-family: "Eczar";
  src: ""
	}
html,
body {
  font-size: var(--oz-text-size);
  font-family: var(--ls-font-family);
  /*-webkit-font-smoothing: auto;*/
  line-height: var(--oz-line-height);
}
