@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Josefin+Sans:wght@100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap')
  
  root {
  --oz-text-size: 16px;
  --oz-line-height: 1.6;
  --ls-font-family: "Fira Sans", "Inter", sans-serif;
  --oz-page-title-font-family: var(--ls-font-family);
  --oz-code-font-family: "Fira Sans", monospace;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

html,
body {
  font-size: var(--oz-text-size);
  font-family: var(--ls-font-family);
  /*-webkit-font-smoothing: auto;*/
  line-height: var(--oz-line-height);
}
