{:highlights [{:id #uuid "67a1e473-a109-4241-b03f-8dc11e641c7b",
               :page 1,
               :position {:bounding {:x1 122.3203125,
                                     :y1 470.0703125,
                                     :x2 604.5023193359375,
                                     :y2 490.8828125,
                                     :width 743.0000000000001,
                                     :height 961.529411764706},
                          :rects ({:x1 487.1645202636719,
                                   :y1 470.0703125,
                                   :x2 604.5023193359375,
                                   :y2 479.0703125,
                                   :width 743.0000000000001,
                                   :height 961.529411764706}
                                  {:x1 122.3203125,
                                   :y1 481.8828125,
                                   :x2 374.91326904296875,
                                   :y2 490.8828125,
                                   :width 743.0000000000001,
                                   :height 961.529411764706}),
                          :page 1},
               :content {:text " We refer to this as \"Immediate\" because it occurs before any further message deliveries into the vat,"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
